body{
    margin: 0;
    padding: 0;
    background-color: #0E0E0E;
    opacity: 0.9;
    overflow-x: hidden;
    user-select: none;
}

#BackArrow{
    display: none;
}

#PageOf{
    display: none;
}

h1{
	font-size:2.8vw
}
h2{
	font-size:2vw
}
h3{
	font-size:1.8vw
}
h4{
	font-size:1.8vw
}
h5{
	font-size:1.4vw
}
h6{
	font-size:1.2vw
}
p{
	font-size:1.2vw;
}
a{
    font-size: medium;
}
ul{
   font-size: medium;
}
li{
    font-size: medium;
    font-weight:700;
}

.Mycarousel-Caption{
    position: absolute;
    width: 33%;
    height: 75%;
    background-color: rgba(0,0,0,.5);
    border-radius: 2vw;
    color: white;
    left:5% ;
    top: 10%;
    padding: 3%;
}

.LoveIsWar-Mycarousel-Caption{
    position: absolute;
    width: 33%;
    height: 72%;
    background-color: rgba(0,0,0,.5);
    border-radius: 2vw;
    color: white;
    padding: ;
    right:5% ;
    top: 10%;
    padding: 3%;
}

.Mycarousel-Caption h4,.LoveIsWar-Mycarousel-Caption h4{
    font-size: 2.1vw;
}

.Mycarousel-Caption h4,.LoveIsWar-Mycarousel-Caption h4{
    font-size: 1.6vw;
}

.Mycarousel-Caption button,.LoveIsWar-Mycarousel-Caption button{
    font-size: 1.8vw;
}

.Mycarousel-Caption button,.LoveIsWar-Mycarousel-Caption button{
    width: 7.8vw;
    height: 3.2vw;
}

@media(max-width: 1200px){
    
    h5{
        font-size: 1.8vw;
    }
    h6{
        font-size: 1.5vw;
    }
    .dropdown-item{
        width: 15vw;
        border-radius: 0;
    }
    #MainSlider{
        height: 119rem;
    }
    iframe{
        height: 210px;
    }
    p{
        font-size: 1.3vw;
    }
    
}

.nav-item:hover{
 background-color: #333;
}
@media(max-width: 1100px){
    
    .dropdown-item{
        width: 100%;
        border-radius: 0;
    }

    .nav-item{
        border:solid #ffdb01;
        border-width: 1px 0px 0px 0px;
        width: 100%;
    }

    #News{
        border-bottom: 1px solid #ffdb01;
    }
}

@media(max-width: 980px){
    h1{
        font-size:3vw
    }
    h2{
        font-size:2.6vw
    }
    h3{
        font-size:2.4vw
    }
    h4{
        font-size:1.85vw
    }
    h5{
        font-size:2vw
    }
    h6{
        font-size:1.5vw
    }
    p{
        font-size:1.6vw;
    }

    .Mycarousel-Caption ,.LoveIsWar-Mycarousel-Caption{
        width: 40%;
        height: 83%;
    }
    .Mycarousel-Caption h4,.LoveIsWar-Mycarousel-Caption h4{
        font-size: 2vw;
    }

    .Mycarousel-Caption button,.LoveIsWar-Mycarousel-Caption button{
        font-size: 2.2vw;
    }

    .Mycarousel-Caption button,.LoveIsWar-Mycarousel-Caption button{
        width: 10vw;
        height: 3.7vw;
    }

    #MainSlider{
        height: 147rem;
    }


    #SearchBox , #SearchBoxMain{
        width: 100%;
        height: 1.7rem;
        font-size: 1rem;
    }

    #Website-logo{
        height: 70px;
    }

}

@media(max-width : 768px){
    h1{
        font-size:4vw
    }
    h2{
        font-size:3.15vw
    }
    h3{
        font-size:3.5vw
    }
    h4{
        font-size:2.6vw
    }
    h5{
        font-size:2.3vw
    }
    h6{
        font-size:2vw
    }
    p{
        font-size:2.1vw;
    }
    

    .Mycarousel-Caption{
        position: absolute;
        width: 45%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        color: white;
        left:0 ;
        top: 0;
        padding: 3%;
    }

    .Mycarousel-Caption h4,.LoveIsWar-Mycarousel-Caption h4{
        font-size: 2.35vw;
        line-height: 2.7vw;
    }

    .Mycarousel-Caption button,.LoveIsWar-Mycarousel-Caption button{
        font-size: 2.8vw;
    }

    .Mycarousel-Caption button,.LoveIsWar-Mycarousel-Caption button{
        width: 12vw;
        height: 4.8vw;
    }

    .LoveIsWar-Mycarousel-Caption{
        position: absolute;
        width: 45%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        color: white;
        right:0;
        top: 0;
        padding: 3%;
    }

    #MainSlider{
        height: 124rem;
    } 

    #Movie,#Series{
        font-size: 2.4vw;
        width: 12vw;
        height: 5vw;
    }

    iframe{
        height: 200px;
    }

    #Website-logo{
        height: 70px;
    }
}

@media(max-width : 576px){
    h1{
        font-size:4.5vw
    }
    h2{
        font-size:3.6vw
    }
    h3{
        font-size:4vw
    }
    h4{
        font-size:3.8vw;
    }
    h5{
        font-size:3.3vw;
    }
    h6{
        font-size:2.9vw;
    }
    p{
        font-size: 2.8vw;
    }
    a{
        font-size: medium;
    }
    li{
        font-size: medium;
    }
    
    #CurrentEpisode{
        font-size:x-small ;
    }
    #overlay{
        position: absolute;
        left: 43%;
    }
    .Mycarousel-Caption h4,.LoveIsWar-Mycarousel-Caption h4{
        font-size: 2.38vw;
        line-height: 2.6vw;
    }

    .Mycarousel-Caption button,.LoveIsWar-Mycarousel-Caption button{
        font-size: 3vw;
    }

    .Mycarousel-Caption button,.LoveIsWar-Mycarousel-Caption button{
        width: 12vw;
        height: 5vw;
    }

    #MainSlider{
        height: 151rem;
    }
    
    #Movie,#Series{
        font-size: 2.8vw;
        width: 15vw;
        height: 6.5vw;
    }

    #Website-logo{
        height: 70px;
    }
    #MainSliderCarouselIndicator{
        display: none;
    }

}


@media(max-width : 400px){
    h1{
        font-size:5vw
    }
    h2{
        font-size:3.8vw
    }
    h3{
        font-size:4.5vw
    }
    h4{
        font-size:3.6vw
    }
    h5{
        font-size:3vw;
    }
    h6{
        font-size:2.8vw
    }
    p{
        font-size:3.6vw;
    }
    a{
        font-size: medium;
    }
    li{
        font-size: medium;
    }
    span{
        font-size: 3.5vw;
    }
    #CurrentEpisode{
        font-size:x-small ;
    }
    .badge{
        padding: 1px;
        margin: 2px;
        font-size: 2.8vw;
        font-weight: 600;
    }
    .page-item{
        
    }
    .Mycarousel-Caption h4,.LoveIsWar-Mycarousel-Caption h4{
        font-size: 2.35vw;
        line-height:2.5vw;
    }

    .Mycarousel-Caption h1,.LoveIsWar-Mycarousel-Caption h1{
        font-size: 3vw;
        border: none;
    }

    .Mycarousel-Caption h1,.LoveIsWar-Mycarousel-Caption h1{
        border:none;
        
    }

    .Mycarousel-Caption button,.LoveIsWar-Mycarousel-Caption button{
        width: 14vw;
        height: 5.5vw;
    }

    iframe{
        height: 210px;
    }

    
    /* #MainSlider{
        height: 270vh;
    } */

    #Movie,#Series{
        font-size: 3vw;
        width: 17vw;
        height: 8vw;
    }
    
}

/*nav Bar */

.dropdown-item{
    border-radius: 0;
}

#name{
    padding: 4px;
    font-style: italic;
    
    background: linear-gradient(to right, red ,blue, orange ,yellow,green,indigo,violet);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    border-radius: 10px;
}

.text-color-yellow{
    color: #ffdb01;

}

.nav-link, .dropdown-item{
    color: #ffdb01;
    font-size: 16px;
    margin-left: 15px;
}

.dropdown-item:hover{
    background-color:inherit;
    color: #ffdb01;
}

.nav-link:hover{
    color: #fafafa;
}

.navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 219, 1, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler{
    color: rgba(255,219,1,.5);
}

.dropdown-item{
    border-bottom: 1px solid #ffdb01;
    padding: 0.5rem;
}

.dropdown-item:hover{
    background-color: #444;
    cursor: pointer;
}

#Website-logo{
    height: 55px;
}

.mainSearchResultDiv{
    position: absolute;  
    z-index: 3;  
    width: 30vw;
}

@media(max-width : 1100px){
    .mainSearchResultDiv{
        position: static;
        width: 100%;
    }
}

.search-img{
    width: 5rem;
}

#MainSearchBox{
    height: 2.5rem;
    border-radius: 1.2rem;
    padding-left: 1rem;
    
}

.SearchResultItem:hover{
    background-color: #444;
}

#ShowAllResult{
    display: none;
}




/*nav Bar */

/*main slider*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.slider {
    width: 98vw;
  height:132rem;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#MainSlider{
    width: 100%;
 }
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.01s linear forwards;
          animation: check 0.01s linear forwards;
}

.slider__content{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 0;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: ;
      -ms-flex-pack: start;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/*main slider*/

/*Slide */
.carousel-image{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

.Mycarousel{
    position: relative;
}

.Mycarousel-caption{
    position: absolute;
    width: 8vw;
    height: 3vw;
    background-color:#E0A814;
    border:none;
   border-radius: 5vw;
    left: 30%;
    
}

.Mycarousel-caption a{
    text-decoration: none;
    color:black;
}

.Mycarousel-Caption h1,.LoveIsWar-Mycarousel-Caption h1{
    border-bottom: 2px solid #fafafa;
    
}

.Mycarousel-caption:hover{
    background-color: #fafafa;
}

.Mycarousel-caption a:hover{
    color:#3769DA;
}

.carousel-image{
 opacity: 0.9;
}



.carousel-control-prev{
    background:linear-gradient(90deg , #fafafa, transparent);
    width: 12vw;
    position: absolute;
    
}

.carousel-control-next{
    background:linear-gradient(270deg , #fafafa, transparent);
    position: absolute;
    width: 12vw;

}



/*Slide*/



/*Series Cards*/
.movie-name{

    
}
/*Series Cards*/
.card{
    border: 1px solid #fafafa;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
}

.card:hover{

}

.card-img-top:hover{
    transform: scale(1.1);
    opacity: 0.4;
    transition: all 0.25s ease-in-out;
}

.card-img-top:hover~.overlay{
    display: block;
    transform: scale(1.1);
    transition: all 1s;
}

.overlay:hover~.card-img-top{
    transform: scale(1.1);
    opacity: 0.4;
    transition: all 0.25s ease-in-out;
}

@media(max-width:400px){
    #overlay{
        position: absolute;
        left: 40%;
    }
}

.overlay{
    display:none ;
    position:absolute;
    left: 45%;
    top: 45%;
}




/*Pagination*/
#Rating{
    background: linear-gradient(to right, rgba(0,0,0), rgba(0,0,0,0.6),rgba(0,0,0,0))
}

.page-item{
    
}

.movieSeries-carousel{
    transition: transform 0.1s ease-in-out;
}
/*Pagination*/

.badge:hover{
    opacity: 0.8;
}

/*Footer*/
#Website-logo-footer{
    width: 7rem;
}

/*Footer*/

#footer{
    -moz-box-shadow: 0 -5px 6px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 -5px 6px rgba(51, 51, 51, 0.5);
    box-shadow: 0 -5px 6px rgba(51, 51, 51, 0.5);
}
